@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #BD9459;
    --grey: #333;
    --bg-color: #EBE8DD;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
h1 {
    font-size: 45px;
    line-height: 100%;
}
.page-wrapper {
    position: relative;
    background: #EBE8DD;
    overflow-x: hidden;
}
.page-wrapper.modal-open {
    overflow: hidden;
    max-height: 100vh;
}
#coffee-container.container {
    padding: 50px 0;
}
.coffee-bean-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}
.bean-icon {
    width: 14px;
}
.title-underline {
    width: 180px;
    position: relative;
}
.title-underline-line {
    position: absolute;
    background: radial-gradient(circle, #000000 0%, #00000000 100%);
    height: 2px;
}
.title-underline-line.line-1 {
    left: 0;
    top: 6px;
    width: 50px;
}
.title-underline-line.line-2 {
    left: 0;
    bottom: 6px;
    width: 65px;
}
.title-underline-line.line-3 {
    right: 0;
    top: 6px;
    width: 50px;
}
.title-underline-line.line-4 {
    right: 0;
    bottom: 6px;
    width: 65px;
}
.coffee-bean-icons .bean-icon:first-child {
    transform: rotate(-38deg);
    position: relative;
    z-index:2;
}
.coffee-bean-icons .bean-icon:last-child {
    transform: rotate(15deg);
    position: relative;
    z-index:1;
    margin-left: -5px;
    margin-top: -5px;
}
.subtitle {
    max-width: 600px;
    color: #6B696A;
    font-weight: 600;
}

#coffees {
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
    row-gap: 40px;
}
.coffee-card {
    width: calc(50% - 10px);
    display: flex;
    flex: 0 0 auto;
    line-height: 100%;
    transition: opacity ease .3s;
}
.coffee-card.fade-out {
    opacity: 0;
}
.coffee-card.hidden {
    display: none;
}

.dotted {
    border-bottom: 1px dotted #000000;
    position: relative;
    top: -3px;
    margin: 0 5px;
}
.coffee-card h3 {
    text-transform: unset;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
}
.coffee-roast {
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    margin: 5px 0;
}
.coffee-description {
    font-weight: 600;
    color: #878584;
    font-size: 12px;
}
.coffee-card .img-wrapper {
    height: 70px;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    overflow: hidden;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.column.selection {
    padding: 10px 20px;
    border: 1px solid var(--grey);
    font-weight: 600;
    cursor: pointer;
    transition: all ease .3s;
}
.column.selection.active {
    background: var(--secondary-color);
    color: #fff;
}
.column.selection:hover {
    background: var(--secondary-color);
    color: #fff;
}

label {
    display: flex;
    flex-direction: column;
}

label>span {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}

label.radio {
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

label.radio span {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

label.radio input {
    flex: 0 0 auto;
    width: 15px;
    min-width: unset;
}

.radio-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

input {
    width: 100%;
    min-width: 380px;
    padding: 10px 20px;
    border: 1px solid var(--grey);
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-weight: 500;
}
textarea {
    width: 100%;
    min-width: 380px;
    padding: 10px 20px;
    border: 1px solid var(--grey);
    background-color: transparent;
    outline: none;
    font-family: inherit;
    font-weight: 500;
    resize: none;
    min-height: 100px;
}
textarea::placeholder {
    font-weight: 300;
}
input::placeholder {
    font-weight: 300;
}
input[type=search] {
    padding-left: 35px;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 20px;
}
input[type="radio"]{
    cursor: pointer;
}

.fixed-page-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    align-items: start;
    justify-content: center;
    z-index: 9;
    padding: 30px;
    overflow: auto;
}

.modal-open .fixed-page-wrapper {
    pointer-events: all;
}

.fixed-page-wrapper>* {
    pointer-events: all;
}

.btn {
    padding: 10px 11.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 15px;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.btn .plus {
    font-size: 35px;
    line-height: 18px;
    transition: transform ease .5s;
    font-weight: 200;
}

.btn.add-coffee {
    border-radius: 9999px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    transition: width ease .3s;
    width: 42px;
    white-space: nowrap;
    justify-content: start;
}
.btn.add-coffee:hover {
    width: 174px;
}
.btn.add-coffee:hover .plus {
    transform: rotate(-90deg);
}

.coffee-stain {
    width: 300px;
    position: absolute;
    top: 20px;
    right: -52px;
}

.coffee-stain-2 {
    width: 350px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.161);
    backdrop-filter: blur(4px);
    transition: opacity ease .3s;
    opacity: 0;
    pointer-events: none;
}
.modal-open .modal-bg {
    opacity: 1;
    pointer-events: all;
}

.modal {
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    background-color: var(--bg-color);
    position: relative;
    border: 1px solid var(--grey);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all ease .3s;
    opacity: 0;
    transform: translateY(100px);
    pointer-events: none;
}

.modal-open .modal {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .coffee-card {
        width: 100%;
    }
}